@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');

* {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #EEEEEE;
}

div {
    margin: 4cm;
    display: inline-flex;
    align-items: center;
}

.triangle {
    border: none;
    float: left;
    padding: 20px;
}

img {
    height: 20px;
}

ol {
    display: flex;
}

.label {
    font-size: 25px;
}

