@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');

* {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #EEEEEE;
}

div {
    margin: 2cm;
    align-items: center;
    display: inline-block;
}

.triangle {
    border: none;
    float: left;
    padding: 20px;
}

img {
    height: 20px;
}

ol {
    display: inline-block;
}

.label {
    font-size: 25px;
    color: #136F63;
    content: "▶";
}

.class {
    font-size: 20px;
    padding: 7px;
    display: none;
}

.label:hover > .class::after {
    display: block;
    position: relative;
    z-index: 1000;
}