@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');

* {
    font-family: Montserrat;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #EEEEEE;
}

div {
    display: inline-block;
    margin: auto;
}

.label {
    list-style-type: circle;
    color: #136F63;
    font-weight: bold;
}

.class {
    display: block;
}