@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');

* {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #e0e0e0;
}

.navigation a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    padding: 20px;
}

.navigation a:hover {
    color: #3C6E71;
}

.name {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
}

.bar {
    background-color: #1B1C1E;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.abouts-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url("images/plain-offwhite.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.faraday {
    height: 70vh;
    display: inline-flex;
    float: right;
}

.slogan {
    margin-left: 4cm;
    margin-right: 2cm;
    font-weight: normal;
    color: #3C6E71;
}

span {
    font-weight: bold;
    color: #1B1C1E;
    text-decoration: underline;
}

.slogan a {
    text-decoration: none;
    color: #1b1c1e;
}

.section2 {
    min-height: 25vh;
    margin-left: 2cm;
    margin-right: 4cm;
}

.section2 h1 {
    float: right;
    align-items: center;
}

.success {
    height: 22vh;
    display: inline-flex;
    float: right;
}